
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .feature-cards .col {
        flex-basis: 50%;
        margin-bottom: 20px;
    }
    .bg-success {
        background-color: #7935DC !important;
    }
    .bg-sucess {
        background-color: #108b1a !important;
        color: white;
    }
</style>

<h3 class="text-center">
    TCL
    <small class="text-muted">LEAVE REQUEST APPLICATION</small>
</h3>
<div>
    <h6 style="text-align:center;">See Leave type descriptions below:</h6>

</div>
&nbsp;
<div class="row row-cols-1 row-cols-md-2 g-4 feature-cards">


    <div class="col">
        <div class="card text-white bg-secondary h-100" style="background-color: #2e7d32 !important;">
            @*<img src="/images/images.png" class="card-img-top" alt="...">*@
            <div class="card-body">
                <h5 class="card-title">Annual Leave</h5>
                <p class="card-text">
                    An employee is entitled to paid annual leave every year after one year of confirmation of employment
                    and consecutive work within the organization. The maximum number of annual leave days to be taken
                    during the year is 3 weeks (15 working days) or as otherwise stated in the employee’s terms of
                    employment.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-danger h-100">
            @*<img src="/images/balloons-simple-drawing-outline-coloring-book-vector-illustration-balloons-simple-drawing-outline-coloring-book-129181157.jpg" class="card-img-top" alt="...">*@
            <div class="card-body">
                <h5 class="card-title">Wedding Leave</h5>
                <p class="card-text">
                    All employees, including temporary and contract employees, are entitled to 10 working days’ leave
                    within the wedding period. No special leave is given to employees for attending wedding ceremonies.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-info h-100" style="background-color: #7b1fa2 !important;">
            @*<img src="/images/sick-leave-flat-line-icon-outline-vector-36470281.jpg" class="card-img-top" alt="...">*@
            <div class="card-body">
                <h5 class="card-title">Sick/Medical Leave</h5>
                <p class="card-text">
                    Permanent employees are eligible for up to twelve (12) days sick leave during each calendar year. Sick
                    leave does not accrue from year to year. Employees who are unable to report to work due to personal
                    illness or injury need to contact their supervisor via mail and copy HR as soon as possible and prior to
                    the beginning of the work day. The employee is required to produce a Doctor’s report for any absence
                    from work due to illness or injury that exceeds two days. Failure to do so will attract due sanctions.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-dark h-100">
            @*<img src="/images/personal-leave-flat-line-icon-outline-vector-37651036.jpg" class="card-img-top" alt="...">*@
            <div class="card-body">
                <h5 class="card-title">Casual/Compassionate Leave</h5>
                <p class="card-text">
                    An employee may be granted casual or compassionate leave upon the submission of an application
                    for such. A maximum number of 5 working days will be approved for compassionate leave. The period
                    granted will not be deducted from the normal annual leave entitlements of the employee. The
                    granting of such leave shall be at the absolute discretion of management and depending on the merits
                    of each case.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-light h-100" style="background-color: #e0530f !important; ">
            @*<img src="/images/personal-leave-flat-line-icon-outline-vector-37651036.jpg" class="card-img-top" alt="...">*@
            <div class="card-body">
                <h5 class="card-title">Maternity Leave</h5>
                <p class="card-text">
                    Confirmed and unconfirmed employees are entitled to maternity leave with full pay for a period of
                    twelve weeks (three months) which includes the annual leave for that year. The maternity leave policy
                    applies to legitimate and illegitimate children. Employees can take this leave from the last 6 weeks of
                    pregnancy to the period of confinement.
                    On resumption from maternity leave, a nursing mother is entitled to resume (2) hours later or close
                    two (2) hours earlier for a period of 3 months after maternity leave.

                </p>
            </div>
        </div>
    </div> <div class="col">
        <div class="card text-white bg-success h-100">
            @*<img src="/images/personal-leave-flat-line-icon-outline-vector-37651036.jpg" class="card-img-top" alt="...">*@
            <div class="card-body">
                <h5 class="card-title">Paternity Leave</h5>
                <p class="card-text">
                    A male employee whose wife delivers a baby is entitled to a maximum of 7 working days paternity
                    leave within the first 2 months of the birth of the baby.
                </p>
            </div>
        </div>
    </div>
</div>

