@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

&nbsp;
<img src="" />
<p>We are poised to create value for our corporate clients through excellent IT service delivery to enhance personnel productivity and efficiency. <br />
    From fully outsourced IT services to single-service packages like helpdesk support, IT procurement, or Infrastructure deployment,<br />
    our experts have what you need. </p>
<p>We partner with top-class original equipment manufacturers to bring you the best value for your money.</p>
